{% load static%}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'css/logout-style.css' %}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <title>Logout Page</title>
</head>
<body>

<div class="container">
    <div id="header">
        <h1>Contact administration</h1>
    </div>
</div>

<div class="h-container">
    <h2 class="home"><a href="{% url 'home' %}">Home</a></h2>
</div>

<div class="down-text">
    <h1>Logged out</h1>

    <p><b>Thanks for spending some quality time with the Web site today.</b></p>

    <h4><a href="{% url 'login' %}">Log in again</a></h4>
</div>
</body>
</html>