{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="{% static 'css/password_reset_complete-style.css' %}" rel="stylesheet">

    <title>Password reset complete</title>
</head>
<body>

<div>
    <div class="center">
        <h1>Password reset complete</h1>
        <h4>Your password has been set. You may go ahead and log in now.</h4>

        <div class="signup_link">
            <h3>Now click <a href="{% url 'login' %}">here</a> to <a href="{% url 'login' %}">Login</a></h3>
        </div>

    </div>
</div>

</body>
</html>