{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="">

    <title>Change Password</title>
</head>
<body>

<h3>Reset Password</h3>

<p>Want to reset your password? Enter your email address below,
    and we’ll email instructions for setting a new one.</p>

<!--Form Begins here-->
<form action="" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Reset">
</form>

<p>Remember password? <a href="{% url 'login' %}">Login</a></p>

</body>
</html>