{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <link href="{% static 'css/password_reset_form.css' %}" rel="stylesheet">
    <title>Reset Page</title>
</head>
<body>


<div class="center">
    <h1>Create New Password</h1>

    <p>Please enter your new password twice so we can verify you typed it correctly!</p>

    <form method="post">
        {% csrf_token %}
        <div class="txt_field">
            {{ form.new_password1 }}
            <span></span>
            <label>New password</label>
        </div>

        <div class="txt_field">
            {{ form.new_password2 }}
            <span></span>
            <label>Confirm new password</label>
        </div>

        <input type="submit" value="Reset now">
        {{ form.errors }}
        <div class="signup_link">
            <h3>Remember password now? <a href="{% url 'login' %}">Login</a></h3>
        </div>
    </form>
</div>
</body>
</html>