{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://kit.fontawesome.com/6b20b1c14d.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/update_info-style.css' %}">
    <title>Update Info</title>
</head>
<body>

<a href="{% url 'home'%}">
    <h2><i class="fas fa-chevron-circle-left back-btn"> Back Home</i></h2>
</a>


<h1>Function currently unavailable, coming soon!</h1>

</body>
</html>
